/* @theme your-theme */

@import 'default';

section {
  background: rgb(255, 255, 255);
}

h1 {
  color: #0058ca;      /* couleur du texte */
  font-size: 64px;     /* taille du texte */
  font-weight: bold;
}